#cs1300-gallery {
  background-color: lightblue;
}
h1{
  font-family: 'Inconsolata', monospace;
}
.gallery-item-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*align-items: column;
  flex-direction:column;*/
  
}
.gallery-item:hover{
border: 10px solid red;
}
.gallery-item:focus-visible{
  border: 10px solid blue;
}
.gallery-item:active{
  border: 10px solid green;
  
}